USE [master]
GO
/****** Object:  Database [GuardiaClinicaDB]    Script Date: 9/11/2025 19:34:42 ******/
CREATE DATABASE [GuardiaClinicaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GuardiaClinicaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LULOHACK\MSSQL\DATA\GuardiaClinicaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GuardiaClinicaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LULOHACK\MSSQL\DATA\GuardiaClinicaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GuardiaClinicaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GuardiaClinicaDB]
GO
/****** Object:  Table [dbo].[Guardias]    Script Date: 9/11/2025 19:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guardias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PacienteId] [int] NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[RecepcionistaId] [int] NOT NULL,
	[EnfermeroId] [int] NULL,
	[MedicoId] [int] NULL,
	[EspecialistaDerivadoId] [int] NULL,
	[EspecialidadRequerida] [nvarchar](50) NULL,
	[Sintomas] [nvarchar](500) NULL,
	[ObservacionesEnfermero] [nvarchar](1000) NULL,
	[DiagnosticoMedico] [nvarchar](1000) NULL,
	[Medicamentos] [nvarchar](500) NULL,
	[Estado] [nvarchar](20) NULL,
	[PrioridadFinal] [int] NULL,
	[Temperatura] [decimal](4, 1) NULL,
	[FrecuenciaCardiaca] [int] NULL,
	[FrecuenciaRespiratoria] [int] NULL,
	[PresionSistolica] [int] NULL,
	[PresionDiastolica] [int] NULL,
	[SaturacionOxigeno] [int] NULL,
	[Glucemia] [int] NULL,
	[Glasgow] [int] NULL,
	[NivelUrgenciaColor] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 9/11/2025 19:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Genero] [nvarchar](10) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Direccion] [nvarchar](200) NULL,
	[ObraSocial] [nvarchar](100) NULL,
	[NumeroAfiliado] [nvarchar](50) NULL,
	[Prioridad] [int] NOT NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/11/2025 19:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/11/2025 19:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RolId] [int] NOT NULL,
	[Especialidad] [nvarchar](50) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Guardias] ADD  DEFAULT ('Espera') FOR [Estado]
GO
ALTER TABLE [dbo].[Pacientes] ADD  DEFAULT ('Espera') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Guardias]  WITH CHECK ADD FOREIGN KEY([EnfermeroId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Guardias]  WITH CHECK ADD FOREIGN KEY([EspecialistaDerivadoId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Guardias]  WITH CHECK ADD FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Guardias]  WITH CHECK ADD FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Pacientes] ([Id])
GO
ALTER TABLE [dbo].[Guardias]  WITH CHECK ADD FOREIGN KEY([RecepcionistaId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Guardias]  WITH CHECK ADD CHECK  (([PrioridadFinal]>=(1) AND [PrioridadFinal]<=(5)))
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD CHECK  (([Prioridad]>=(1) AND [Prioridad]<=(5)))
GO
USE [master]
GO
